@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ECEFF4;
  --foreground: #2E3440;
  --accent: #88C0D0;
  --accent-secondary: #81A1C1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2E3440;
    --foreground: #ECEFF4;
    --accent: #88C0D0;
    --accent-secondary: #81A1C1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
